<div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="card mb-3 shadow">
        <img src="assets/images/biomagnetismo-banner.png" class="card-img-top" alt="...">
          <div class="card-body logo-back">
            <div class="white-screen">

            <h5 class="card-title">Biomagnetismo</h5>
            <p class="card-text">
              El Biomagnetismo es una terapia creada y desarrollada por el médico cirujano Isaac Goiz, de nacionalidad Mexicana, quien es el fundador y director del Centro de Investigación de Biomagnetismo en México. El Dr Goiz es miembro de honor de la Asociación Nacional de Medicina Cuántica, Neurociencias y Bioenergética en Barcelona.
            </p>
          
            <p>
                El Biomagnetismo es una terapia complementaria en la que es posible eliminar enfermedades o dolencias sin la ingesta de medicamentos. Es una disciplina terapéutica con fundamentación científica y ética, que logra eliminar del cuerpo virus, bacterias, hongos y parásitos, responsables de gran parte de las enfermedades.
              <br>
                La salud se establece desde el equilibrio del PH en el organismo. Para el Biomagnetismo la enfermedad se desarrolla cuando existe un desequilibrio en el PH de la sangre, ya sea de su estado ácido o alcalino. Mediante este tratamiento se logra la neutralización del pH (potencial de Hidrógeno) en la sangre de nuestro cuerpo, utilizando el impulso electromagnético de imanes de mediana intensidad. Se rastrea el cuerpo como si fuera un escáner, logrando con dicha técnica neutralizar y eliminar los patógenos, devolviendo así al organismo, su estado de equilibrio.
              <br>
                El Biomagnetismo logra estimular el sistema inmunológico, equilibrar el sistema nervioso central, regular y corregir las disfunciones glandulares, estimular el crecimiento celular normal, rejuvenecer los tejidos, corregir disfunciones metabólicas, regular la circulación arterial, activar la circulación sanguínea a nivel celular ayudando a incrementar de esta forma la asimilación de nutrientes y oxígeno. Ayuda a disminuir los niveles de estrés. 
            </p>
            <p><strong>-Duración: 40 minutos</strong></p>
            <p>-La sesión incluye un frasco de esencias que duran 25 días</p>
            <p><em>Para más información sobre Biomagnetismo, puede visitar el link de esta página: <a href="https://www.biomagnetismo.biz" target="_blank">www.biomagnetismo.biz</a></em></p>
          </div>
        </div>
      </div>
    </div>
  </div>