<div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="card mb-3 shadow">
        <img src="assets/images/white-chestnut-banner.png" class="card-img-top" alt="...">
          <div class="card-body logo-back">
            <div class="white-screen">

            <h5 class="card-title">Flores de Bach</h5>
            <p class="card-text">Las flores de Bach son una excelente alternativa natural para tratar todo tipo de enfermedades físicas o mentales abordadas desde lo emocional.</p>
          
            <p>
                Según el creador de ésta terapia -el Dr. Edward Bach-, la enfermedad carece de importancia en si misma pues se trata de la expresión física de un desequilibrio de orden emocional. Basadas en esta concepción, las Flores de Bach no tratan directamente la enfermedad, sino a su causa de origen emocional.
              <br>
                Es un método dinámico en que consultante y terapeuta trabajan en conjunto, acercándose en cada sesión a encontrar la raíz del conflicto.
              <br>
                Es en el proceso de encontrar esa raíz profunda que las esencias ayudan otorgando claridad y conciencia sobre el proceso que se está viviendo, haciendo el camino más fácil de recorrer hasta que se llega a la causa primera y por ende, la sanación.
              <br>
                Las Flores de Bach son altamente efectivas en caso de todo tipo de patologías, traumas, depresiones, crisis de pánico etc.
              <br>
                En caso de algunas patologías más complejas, realizo tratamiento con Biomagnetismo, pudiendo siempre las Flores de Bach ayudar otorgando serenidad y conciencia sobre el proceso curativo. 
            </p>
            <p><strong>-Duración: 40 minutos de conversación</strong></p>
            <p>-La sesión incluye un frasco de esencias que duran 25 días</p>
            <p><em>Para más información sobre Flores de Bach, puede visitar el link de esta página: <a href="http://www.bachcentre.com" target="_blank">www.bachcentre.com</a></em></p>
          </div>
        </div>
      </div>
    </div>
  </div>