<div class="modal fade" id="promotionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content logo-back">
      <div class="white-screen">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Próximas actividades</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <h3>Te invito a un nuevo formato terapéutico</h3>
              <p>
                  Diseñado por un tiempo prolongado de acompañamiento a tus procesos emocionales.
                  Un taller grupal nos permite observar y distinguir los patrones similares como también los que nos diferencian de los otros participantes. 
              </p>
              <p>
                  Experimentar un desarrollo evolutivo frente a distintas dinámicas de la vida desde un nuevo paradigma que experimentarás en cada encuentro.
                  Ampliar nuestro campo de visión y así poder comprender nuestros comportamientos y los de quienes nos rodean.
              </p>
              <p>
                  Como terapeuta he podido observar que los cambios más profundos se realizan a través de la mirada del otro, es por eso que en estos últimos años he realizado terapia grupal con avances significativos en los participantes.
                  Este ciclo terapéutico está diseñado para toda persona que busque una mayor comprensión y sentido a su vida.
              </p>
      
                  
                  
                
      
                <table class="table table-hover mt-3">
                  <thead>
                    <tr>
                      <th>Mes</th>
                      <th>Día</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Noviembre 2019</td>
                      <td>Viernes 15</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 29</td>
                    </tr>
                    <tr>
                      <td>Diciembre 2019</td>
                      <td>Viernes 6</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 20</td>
                    </tr>
                    <tr>
                      <td>Marzo 2020</td>
                      <td>Viernes 6</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 13</td>
                    </tr>
                    <tr>
                      <td>Abril 2020</td>
                      <td>Viernes 3</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 24</td>
                    </tr>
                    <tr>
                      <td>Mayo 2020</td>
                      <td>Viernes 8</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 15</td>
                    </tr>
                    <tr>
                      <td>Junio 2020</td>
                      <td>Viernes 5</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 12</td>
                    </tr>
                    <tr>
                      <td>Julio 2020</td>
                      <td>Viernes 24</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 31</td>
                    </tr>
                    <tr>
                      <td>Agosto 2020</td>
                      <td>Viernes 7</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 28</td>
                    </tr>
                    <tr>
                      <td>Septiembre 2020</td>
                      <td>Viernes 4</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Viernes 25</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-4 text-bold">
                    <strong>Horario:</strong>
                  </div>
                  <div class="col-8">
                    18:00 a 21:30 Hrs.
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 text-bold">
                    <strong>Valor del taller:</strong>
                  </div>
                  <div class="col-8">
                    $50.000 pesos mensuales ($25.000 cada encuentro)
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 text-bold">
                    <strong>Lugar:</strong>
                  </div>
                  <div class="col-8">
                    Por confirmar
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 text-bold">
                    <strong>Más información:</strong>
                  </div>
                  <div class="col-8">
                    ceciliainardi@gmail.com
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 text-bold">
                    <strong>Notas:</strong>
                  </div>
                  <div class="col-8">
                    Deben quedar documentados los 9 meses con fecha del último viernes de cada mes.
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
      </div>
      
    </div>
  </div>
</div>