<div class="row justify-content-center">
  <div class="col-xl-8">
    <div class="card mb-3 shadow">
      <img src="assets/images/brain-banner1.jpg" class="card-img-top" alt="...">
      <div class="card-body logo-back">
        <div class="white-screen">
          <h5 class="card-title">Nueva Medicina Germánica (NMG)</h5>
          <p class="card-text">(NMG) es el nombre que el doctor en medicina interna Ryke Geerd Hamer le ha dado a su descubrimiento científico. <br> Podríamos resumirlo en los siguientes puntos:</p>
          <ol>
            <li>
                La NMG se basa en 5 leyes biológicas naturales, es decir, en 5 grandes principios descubiertos empíricamente, y que son verificables experimentalmente en cada paciente individual.
            </li>
            <br>
            <li>
                La NMG no es un medicamento o una terapia alternativa, sino una ciencia descriptiva de los fenómenos biológicos que ocurren en la enfermedad. Esta ciencia incluye, como es lógico, una terapia propia que se basa en la aplicación de esas leyes biológicas según las condiciones especiales e individuales de cada paciente.
                Es decir, que las 5 leyes biológicas de la NMG incluyen tanto un diagnóstico y descripción de las enfermedades, como una guía precisa y sistemática para su tratamiento.
            </li>
            <br>
            <li>
                La NMG toma en cuenta los tres (3) aspectos esenciales del ser humano: La psique, el cerebro y los órganos. La NMG diferencia cada uno de estos planos para fines didácticos y explicativos, pero en todo momento se comprende que el organismo es una unidad, no una suma de partes.
            </li>
            <br>
          </ol>
      
          <p>
              Esto implica que el diagnóstico se hace en los tres planos a la vez, y el tratamiento también se extiende a los tres planos.
          </p>
          <p>
              En el plano de la psique es donde se produce el conflicto biológico, derivado de un shock inesperado y vivido en soledad (este shock se denomina DHS o Síndrome Dirk Hamer). Pero el proceso de la enfermedad se desarrolla en los otros dos niveles en forma simultánea: en el cerebro, aparece una imagen (visible mediante una tomografía cerebral) que se denomina Foco de Hamer (FH). Esta imagen cerebral ha sido confundida con “artefactos” que producen la máquinas de tomografía (estos arfetactos también existen, al igual que los Focos de Hamer; por lo que hay que aprender a discernir unos de otros).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>