<div class="row justify-content-center">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0 text-gray-800">Terapias de la Emoción</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-xl-8">
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-md-11 col-sm-10 col-xs-12">
            <div class="text-sm text-secondary mb-1"><em>"Mi terapia trabaja en la re-conexión con el propio cuerpo y la emoción, volver a pensar y sentir haciendo el cambio desde las raíces, enseñar a ser cada vez más coherentes en nuestro sentir, pensar y actuar. Ese es mi desafío como terapeuta."</em></div>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-12">
            <img src="assets/images/logotipo.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 justify-content-center">
  <div class="col-xl-8">
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-sm font-weight-bold text-secondary text-uppercase mb-1 ml-4">Actividades</div>
            <div class="carousel-container container">
              <app-carousel></app-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
