<div class="row justify-content-center">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cecilia Ainardi</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><em>"Mi terapia trabaja en la re-conexión con el propio cuerpo y la emoción, volver a pensar y sentir haciendo el cambio desde las raíces, enseñar a ser cada vez más coherentes en nuestro sentir, pensar y actuar. Ese es mi desafío como terapeuta."</em></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-hand-holding-heart fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Actividades recientes</div>
            <div class="carousel-container container">
              <app-carousel></app-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
