<div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="card mb-3 shadow">
        <img src="assets/images/therapy-banner.jpeg" class="card-img-top" alt="...">
        <div class="card-body logo-back">
          <div class="white-screen">

            <h5 class="card-title">Mi terapia</h5>
            <p class="card-text">Mi terapia pretende llevar a la persona que se encuentra enferma a la siguiente pregunta: ¿Qué es lo que me ha llevado aquí?</p>
          
            <p>
                El terapeuta acompaña en un camino de auto-curación despertando la emoción oculta. Toda información está programada, por lo tanto la podemos 'desprogramar' para así acceder al conflicto emocional causante del síntoma o de la enfermedad.
                Mi terapia acompaña al consultante a buscar esa emoción oculta, ese dolor anclado en el inconsciente, llevando a experimentarlo de forma visceral, es ahí cuando podemos observar la emoción objetivamente, y donde se hace consciente. Nos enseña a buscar en nosotros la coherencia emocional que nos permita sanar. 
                <br>
                Se trabaja con:
            </p>
            <ul>
              <li>La edad Cronológica</li>
              <li>Proyecto Sentido (desde el momento de la gestación, hasta los 3 años de vida)</li>
              <li>Transgeneracional (árbol genealógico)</li>
            </ul>
            <p>
                Esta terapia se apoya en mi investigación personal además del estudio y la experiencia de númerosos investigadores como: El Dr. Geer Hamer, Anne Schutzenberger, Marc Fréchet, Groddeck y Claude Sabbah entre otros, que han demostrado que las enfermedades no existen como tales sino que se trata de programas biológicos cargados de sentido. 
            </p>

            <p><strong>-Duración: 1 hora aprox.</strong></p>
          </div>

        </div>
      </div>
    </div>
  </div>