<div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="card mb-3 shadow">
        <img src="assets/images/sobre-mi.jpg" class="card-img-top" alt="...">
          <div class="card-body logo-back">
            <div class="white-screen">

            <h5 class="card-title">Sobre mí</h5>
            <p class="card-text">
                Mi camino en la terapia empezó el año 2006 principalmente por una búsqueda personal de entendimiento y sanación.
            </p>
          
            <p>
                Comencé de forma muy dedicada a estudiar Biomagnetismo (Dr. Goiz),Flores de Bach y Reiki. Fue dentro de este periodo que empecé a atender consultantes.
              <br>
              Mi interés por la terapia fue cada vez más intenso y así fue que el 2008 viajé a Cuba y conocí a la Dra Gisela Abdon quien me mostró y enseñó las esencias florales de Cuba, "sistema arcoiris". Mi trayectoria continuo al ingresar estudiar en el Instituto Español de Bioneuroemoción. (Perú, Cuba).
              <br>
              Luego de terminar esta apasionante metodología, seguí mi aprendizaje en Psicosomática Clínica y Humanista con el Dr Salomón Sellam (Perú, España). Esto me llevó a estudiar la Nueva Medicina Germánica con el Dr. Luis Felipe Espinosa y el Dr Eduardo Castellanos en Chile.
              <br>
              Cuando toda esta nueva visión se desplegó ante mi, se me hizo imprescindible estudiar Psicomagia y Psicogenealogía con Gabriela Rodríguez y Psicoterapia con un enfoque holístico con la Psiquiatra Adriana (Nana) Schnake también Chile.
              <br>
              Hoy sigo estudiando, atendiendo en mi consulta particular y haciendo talleres grupales de forma periódica, apasionandome cada vez más en este maravilloso camino en el que he aprendido que todas las respuestas para sanar están dentro de uno, solo necesitas a tu lado un terapeuta neutro que te acompañe. 
            </p>
            <p><strong>-Duración: 40 minutos</strong></p>
            <p>-La sesión incluye un frasco de esencias que duran 25 días</p>
            <p><em>Para más información sobre Biomagnetismo, puede visitar el link de esta página: <a href="https://www.biomagnetismo.biz" target="_blank">www.biomagnetismo.biz</a></em></p>
          </div>
        </div>
      </div>
    </div>
  </div>