<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let photo of photos" data-target="#carouselExampleCaptions" [attr.data-slide-to]="photo.index" [class]="photo.class"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let photo of photos" class="carousel-item {{photo.class}}">
      <img [src]="photo.file" class="d-block w-100" [alt]="photo.title">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{photo.title}}</h5>
        <p>{{photo.desc}}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
