<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li class="text-center mt-3">
      <h3 class="mt-2 text-white">Cecilia Ainardi</h3>
      <p class="text-white">Terapias de la emoción</p>
      <img src="assets/images/cecilia.png" alt="Cecilia Ainardi" class="img-fluid rounded">
    </li>

    <!-- Nav Items -->
    <li class="nav-item">
      <a class="nav-link py-2 mt-2">
          <i class="fas fa-hand-holding-heart"></i>
          <span> Mi terapia</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2">
          <i class="fas fa-clinic-medical"></i>
          <span> Nueva Medicina Germánica</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2">
          <i class="fas fa-eye-dropper"></i>
          <span> Flores de Bach</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2">
          <i class="fas fa-magnet"></i>
          <span> Biomagnetismo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2">
          <i class="fas fa-bullhorn"></i>
          <span> Blog</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2">
          <i class="fas fa-user-circle"></i>
          <span> Sobre mí</span>
      </a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->
