<ul
  class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion full-height overflow-y"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <li class="text-center mt-3">
    <div (click)="navigation.goHome()" class="mouse-pointer">
      <h3 class="mt-2 text-white">Cecilia Ainardi</h3>
      <p class="text-white">Terapias de la emoción</p>
    </div>
    <img
      src="assets/images/cecilia.png"
      alt="Cecilia Ainardi"
      class="img-fluid rounded"
    />
  </li>

  <!-- Nav Items -->
  <li class="nav-item">
    <a class="nav-link py-2 mt-2 mouse-pointer" [routerLink]="['/']">
      <i class="fas fa-home"></i>
      <span> Inicio</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link py-2 mt-2 mouse-pointer" [routerLink]="['/mi_terapia']">
      <i class="fas fa-hand-holding-heart"></i>
      <span> Mi terapia</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link py-2 mouse-pointer" [routerLink]="['/nmg']">
      <i class="fas fa-clinic-medical"></i>
      <span> Nueva Medicina Germánica</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link py-2 mouse-pointer" [routerLink]="['/flores']">
      <i class="fas fa-eye-dropper"></i>
      <span> Flores de Bach</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link py-2 mouse-pointer" [routerLink]="['/biomagnetismo']">
      <i class="fas fa-magnet"></i>
      <span> Biomagnetismo</span>
    </a>
  </li>
  <!-- <li class="nav-item">
      <a class="nav-link py-2 mouse-pointer">
          <i class="fas fa-bullhorn"></i>
          <span> Blog</span>
      </a>
    </li> -->
  <li class="nav-item">
    <a class="nav-link py-2 mouse-pointer" [routerLink]="['/sobre_mi']">
      <i class="fas fa-user-circle"></i>
      <span> Sobre mí</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link py-2 mouse-pointer"
      data-toggle="modal"
      data-target="#promotionModal"
    >
      <i class="fas fa-check"></i>
      <span> Próximas actividades</span>
    </a>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  <div class="text-center d-none d-md-inline mb-2">
    <a class="text-white" href="tel:+56985960819">+569 85960819</a>
    <br />
    <a class="text-white" href="mailto:ceciliainardi@gmail.com"
      >ceciliainardi@gmail.com</a
    >
  </div>
</ul>
<!-- End of Sidebar -->
